In [ ]:
import pandas as pd
import matplotlib 
import seaborn as sn

In [ ]:
data = pd.read_csv(r"C:\Users\SANDRA\car_data.csv")

In [40]:
data.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,20.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0

In [ ]:
data.describe()

In [ ]:
data.shape

In [ ]:
data.isnull()

In [ ]:
data.isnull().sum()

In [ ]:
data.isna()

In [ ]:
data['Cylinders'].mean()

In [ ]:
data['Cylinders'].fillna(data['Cylinders'].mean(), inplace = True)

In [39]:
data.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [ ]:
data = data.dropna(axis=0)

In [ ]:
data.isnull().sum()

In [ ]:
data.value_counts('Make')

In [ ]:
data[data['Origin'].isin(['Asia','Europe'])]

In [ ]:
data[~(data['Weight']>4000)]

In [ ]:
data['MPG_City'] = data['MPG_City'] + 3

In [ ]:
data.head()